################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenCvStuff
/OpenCvStuff/x64/Debug
/x64/Debug
/OpenCvStuff.vcxproj.filters
/OpenCvStuff.vcxproj.user
/OpenCvStuff.vcxproj
